/FluentNHibernatePractice/FluentNHibernatePractice/bin
/FluentNHibernatePractice/FluentNHibernatePractice/obj
/JQPractice/*.suo
/MoqPractice/packages
/MoqPractice/MoqPractice/bin
/MoqPractice/MoqPractice/obj
/MoqPractice/*.suo
/AutoFacPractice/packages
/AutoFacPractice/AutoFacPractice/bin
/AutoFacPractice/AutoFacPractice/obj

/AutoFacPractice/*.suo
/EntityFramework 6.0/EfPractice/EfPractice/bin
/EntityFramework 6.0/EfPractice/EfPractice/obj
/EntityFramework 6.0/EfPractice/packages
/ObjectSerialization/SampleUsingDotNetSerializerNuget/ConsoleApplication1/bin
/ObjectSerialization/SampleUsingDotNetSerializerNuget/ConsoleApplication1/obj
/ObjectSerialization/SampleUsingDotNetSerializerNuget/packages
/ObjectSerialization/SampleUsingDotNetSerializerNuget/ConsoleApplication1Tests/bin
/ObjectSerialization/SampleUsingDotNetSerializerNuget/ConsoleApplication1Tests/obj
/BootStrap/ToolTip/packages
/BootStrap/ToolTip/ToolTip/bin
/BootStrap/ToolTip/ToolTip/obj
/Log4NetPractice/Logging/Logging/bin
/Log4NetPractice/Logging/Logging/obj
/Log4NetPractice/Logging/packages
/Log4NetPractice/Logging/*.suo
/APO/APO/obj
/APO/APO/bin
/APO/packages
/Libraries/DataTableToHtml/obj
/Libraries/DataTableToHtml/bin
/APO/*.suo
/FluentNHibernatePractice/packages
/FluentNHibernatePractice/*.suo
/Log4NetPractice/Log4NetWeb/*.suo
/Log4NetPractice/Log4NetWeb/Log4NetWeb/*.user
/Log4NetPractice/Log4NetWeb/Log4NetWeb/bin
/Log4NetPractice/Log4NetWeb/Log4NetWeb/obj
/Log4NetPractice/Log4NetWeb/packages
/ComboBoxKnockout/packages
/ComboBoxKnockout/ComboBoxKnockout/bin
/ComboBoxKnockout/ComboBoxKnockout/obj

/ComboBoxKnockout/*.suo
/Libraries/BarcodeReaderForm/bin
/Libraries/BarcodeReaderForm/RawStuff.v11.suo
/Libraries/BarcodeReaderForm/obj
/Libraries/BarcodeReaderForm/Keyboard/bin
/Libraries/BarcodeReaderForm/Keyboard/obj
/Libraries/BarcodeReaderForm/BarcodeReaderForm/bin
/Libraries/BarcodeReaderForm/BarcodeReaderForm/obj
/Libraries/BarcodeReaderForm/RawInput/bin
/Libraries/BarcodeReaderForm/RawInput/obj
/Libraries/BarcodeReaderForm/RawInput/RawInput.csproj.user
/UnusualC#/NewThings/NewThings/bin
/UnusualC#/NewThings/NewThings/obj
/HangFire/SendEmail/packages
/HangFire/TryHf/packages
/HangFire/TryHf/TryHf/obj
/HangFire/TryHf/TryHf/bin
/WindowsService/MyWindowsService/MyWindowsService/obj
/WindowsService/MyWindowsService/MyWindowsService/bin
