@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
 
 

<span>edit</span>
 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 
<script type="text/javascript">
    function editableClicked() {
        var divHtml = $(this).html();
        var editableText = $("<input type ='text' />");
        editableText.val(divHtml);
        $(this).replaceWith(editableText);
        editableText.focus();
        editableText.blur(editableTextBlurred);
    }

    function editableTextBlurred() {
        var html = $(this).val();
        var viewableText = $("<span>");
        viewableText.html(html);
        $(this).replaceWith(viewableText);
        viewableText.click(editableClicked);
    }

    $(document).ready(function () {
        $("span").click(editableClicked);
    });
 
</script>
 