@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
 

<span class="myBtn mute">Node</span><br />
<span class="myBtn mute">Node</span> <br />
<span class="myBtn mute">Node</span> <br />
<span class="myBtn mute">Node</span> <br />

<span id ="a1" >Edit me</span> <br />
 
 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>


<script type="text/javascript">
    $(function () {
        $('.myBtn').click(function (id) {
            var $this = $(this);
            if ($this.is('.mute')) {
                $this.toggleClass("mute on");
                $this.text("Ascending");
            } else if ($this.is('.on')) {
                $this.toggleClass("on off");
                $this.text("Descending");
            } else if ($this.is('.off')) {
                $this.toggleClass("off mute");
                $this.text("None");
            }
        })
    })

  
</script>

<style>
.mute{ background:gray }
.on  { background:green }
.off { background:red }
</style>
