<!doctype html>
<html>
<head>
</head>
<body>
    <script type="text/javascript" src="../../knockout-3.1.js"></script>
    <script type="text/javascript" src="../../jquery-2.1.1.js"></script>

    <div data-bind="template: { name: 'tplt', foreach: Persons, as: 'people' }"></div>

    <script type="text/html" id="tplt">
        <span data-bind="text: na"></span> -
        <span data-bind ="text:Address"></span><br />
    </script>

    <script>
        function Model() {
            this.Persons = [
            { na: "Ram", Address: "Patan" },
            { na: "Shyam", Address: "Ktm" }
            ]
        }
        ko.applyBindings(new Model);
    </script>
</body>
</html>
