
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @*<script src="~/Scripts/common.js"></script>*@
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <div> 
        <br /><br />
        <br /><br />
        <a class="tip-top" id="go" title="Search">O</a>
    </div>
    <script type="text/javascript">
        $(".tip-top").tooltip({ placement: 'top' });
    </script>
</body>
</html>
