<!doctype html>
<html>
<head>
</head>
<body>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/knockout-3.2.0.debug.js"></script>
    <script src="~/Scripts/simpleCol.js"></script>

        <select data-bind="options: $root.availableData,   optionsText: 'colName'"></select>
 
   
  
</body>
</html>
