@{
    ViewBag.Title = "GetPost";
}
<script src="~/Scripts/jquery-1.7.1.js"></script>
<input type="button" id ="DateButton" value ="Date" />
<input type="button" id ="PersonButton" value ="Person" />
<input type="button" id ="SendData" value ="Send Data" />

<h2> $.ajax </h2>
 <p id="phDate">
     test Date
</p>

 <p id="phPerson">
     test
</p>

 <p id="send">
     send
</p>

@*get simple data:*@
<script type="text/jscript">
    
    $('#DateButton').click(get_ajax_data);
    function get_ajax_data() {
        $.ajax({
            url: "/AjaxGetPost/TellMeDate",
            success: function (msg) {
                $('#phDate').html(msg);
            }
        });
    }
</script>
@*get complex data*@
<script type="text/jscript">

    $('#PersonButton').click(getpersonData);
    function getpersonData() {
        $.ajax({
            url: "/AjaxGetPost/GetPerson",
            success: function (msg) {
                $('#phPerson').html(JSON.stringify(msg));

                for (var i = 0; i < msg.length; i++) {
                    var row = $("<tr><td> Name =" + msg[i].Name + "</td> <td> Age = "+ msg[i].Age  +"</td></tr> ");
                    $('#phPerson').append(row);
                    
                }
                
            }
        });
    }
    
</script>

@*SendData from Client to Server*@
<script type="text/jscript">

    $('#SendData').click(sendpersonData);
    function sendpersonData() {
        $.ajax({
            url: "/AjaxGetPost/GetPerson",
            success: function (msg) {
                $('#phPerson').html(JSON.stringify(msg));
                $.each(msg, function () {
                    var row = $("<tr><td>" + msg.Name + "</td></tr> ");
                    $('#phPerson').append(row);
                });
            }
        });
    }

</script>
