<!doctype html>
<html>
<head>
</head>
<body>
    <script type="text/javascript" src="../knockout-3.1.js"></script>
    <script type="text/javascript" src="../jquery-2.1.1.js"></script>
<h2>Participants</h2>
<h1>Here are the participants:</h1>
    
<div data-bind="template: { name: 'person-template', data: buyer }"></div>
Above and below are template rendered
<div data-bind="template: { name: 'person-template', data: seller }"></div>
 
    <!--tempalte start--> 
<script type="text/html" id="person-template">
 <hr />    <span data-bind="text: name"> </span>   Credits: <span data-bind="text: credits"></span><hr /> 
</script>
    <!--template end-->
 
<script type="text/javascript">
     function MyViewModel() {
         this.buyer = { name: 'Franklin', credits: 250 };
         this.seller = { name: 'Mario', credits: 5800 };
     }
     ko.applyBindings(new MyViewModel());
</script>
</body>

</html>